@using Game.Logic
@using Microsoft.AspNetCore.SignalR.Client

@code
{
    [Parameter] public Game Game { get; set; } = null!;
    [Parameter] public HubConnection HubConnection { get; set; } = null!;
}

<div class="relative mx-auto flex max-w-2xl flex-col items-center">

    <div class="mt-10 text-lg uppercase">Game ID: @Game.Id</div>
    <img src="data:image/png;base64,@_qrCodeImageAsBase64" class="mt-1 max-w-[20rem] border-8 border-neutral-700" alt="QR code" />

    @if (Game.Players.Count < Game.Rules.MinimumPlayerCount)
    {
        <blockquote class="absolute -right-[12rem] -top-[1rem] hidden md:block">
            <div class="bubble left comic text-3xl">
                Join!
            </div>
        </blockquote>
    }

    <div class="mt-2">
        <a href="@_gameUrl">@_gameUrl</a>
        <span onclick="copyToClipboard('@_gameUrl')" class="cursor-pointer" title="Copy game link">📋</span>
    </div>

    <div class="mt-10 flex flex-col gap-3">
        @foreach (var player in Game.Players)
        {
            <div class="appear group flex items-center justify-between gap-5">
                <div class="flex items-center gap-5">
                    <GameCharacter Player="@player" />
                    @player.Name
                </div>
                <div class="w-16">
                    <div class="hidden cursor-pointer group-hover:block" title="Kick from game"
                         @onclick="() => MaybeKickPLayer(player)">
                        ✖️
                    </div>
                </div>
            </div>
        }
    </div>

    @if (Game.Players.Count < Game.Rules.MinimumPlayerCount)
    {
        <div class="mt-10"><em>Waiting for at least @Game.Rules.MinimumPlayerCount players&hellip;</em></div>
        <div class="mt-10"><WaitingAnimation /></div>
    }
    else
    {
        <button class="button large mt-8 cursor-pointer" @onclick="StartGameAsync">Start game</button>

        <blockquote class="absolute -left-[10rem] bottom-[4rem] hidden md:block">
            <div class="bubble right comic text-3xl">
                Start<br />game!
            </div>
        </blockquote>

    }

    <audio id="sound-join" src="/sound/join.mp3" preload="auto"></audio>

</div>

<ConfirmDialog @ref="_confirmDialog" />


<InputDialog @ref="_externalBotDialog">
    <div class="flex flex-col gap-3">
        <h2>Add an API bot to the game</h2>
        <p>The bot must fulfill <a href="/external-bot-reference" target="_blank">this spefication</a>.</p>
        <div class="mt-4 flex flex-col gap-1 border-t border-amber-800 pt-7">
            <label for="external-bot-url">Bot URL</label>
            <input type="text" id="external-bot-url" @bind="_externalBotUrl" placeholder="https://example.com/bot" />
            <div class="mt-2 flex items-center gap-2">
                <button class="button small" @onclick="LoadBotInfoAsync">Load</button>
                @if (_externalBotInfo.Name != null)
                {
                    <text>✔ @_externalBotInfo.Name</text>
                }
                else if (_externalBotFetchFailed)
                {
                    <text>❌</text>
                }
            </div>
        </div>
        <div class="mt-4 flex flex-col gap-1">
            <label for="external-bot-name">Bot name</label>
            <input type="text" id="external-bot-name" disabled=@(_externalBotInfo.Name == null)
                   @bind="_externalBotInfo.Name" placeholder="Bob the gremlin" />
        </div>
    </div>
</InputDialog>

@if (_externalBotError != null)
{
    <div class="fixed bottom-16 flex gap-10 text-red-600">
        Bot error: "@_externalBotError"
    </div>
}

<div class="fixed bottom-3 flex gap-10">
    <a @onclick='() => ShowBotDialog("Add bot")' class="cursor-pointer">Add bot</a>
    <a href="/" class="cursor-pointer">Quit</a>
</div>